In [1]:
from db_connection import get_engine
import pandas as pd

engine = get_engine()

query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'inventory';
"""

df = pd.read_sql(query, con=engine)
print("Tables in 'inventory' database:")
tables = df['TABLE_NAME'].tolist()
print(df['TABLE_NAME'].tolist())

Tables in 'inventory' database:
['begin_inventory', 'end_inventory', 'purchase_prices', 'purchases', 'sales', 'vendor_invoice', 'vendor_sales_summary']

In [2]:
for table in tables:
    print('-' * 50, f'{table}', '-' * 50)
    count = pd.read_sql(f"SELECT COUNT(*) AS count FROM `{table}`", con=engine)['count'].values[0]
    print('Count of records:', count)

    df_preview = pd.read_sql(f"SELECT * FROM `{table}` LIMIT 5", con=engine)
    display(df_preview)

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [62]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466",con = engine)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [63]:
purchase_prices = pd.read_sql_query("select * from purchase_prices where VendorNumber = 4466",con = engine)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [64]:
vendor_invoice = pd.read_sql_query("select * from vendor_invoice where VendorNumber = 4466",con = engine)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [65]:
sales = pd.read_sql_query("select * from sales where VendorNo = 4466",con = engine)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [66]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

purchase_prices

In [67]:
vendor_invoice['PONumber'].nunique()

55

In [68]:
vendor_invoice.shape

(55, 10)

purchases

In [69]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [70]:
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [71]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

In [72]:
freight_summary = pd.read_sql_query("""select VendorNumber,SUM(Freight) as  FreightCost from vendor_invoice
group by VendorNumber""",con = engine)

In [73]:
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [74]:
pd.read_sql_query("""
    SELECT 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.PurchasePrice,
        pp.Volume,
        pp.Price AS ActualPrice,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM 
        purchases p
    JOIN 
        purchase_prices pp ON p.Brand = pp.Brand
        where p.PurchasePrice >0
    GROUP BY  
        p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume, pp.Price
    ORDER BY 
        TotalPurchaseDollars DESC
""", con=engine)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080.0,3811251.60
1,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038.0,3804041.22
2,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407.0,3418303.68
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682.0,3261197.94
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109.0,3023206.01
...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,750,4.99,2.0,2.64
10688,8004,SAZERAC CO INC,5683,0.39,50,0.49,6.0,2.34
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2.0,1.48
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1.0,1.47
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1.0,0.71

In [75]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [76]:
pd.read_sql_query("""
select VendorNo,
Brand,
SUM(SalesDollars) as TotalSalesDollars,  
SUM(SalesPrice) as TotalSalesPrice,
SUM(SalesQuantity) as TotalSalesQuantity,
SUM(ExciseTax) as TotalExciseTax
from sales
Group by VendorNo, Brand
order by TotalSalesDollars""",con = engine)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,9.800000e-01,0.98,2.0,0.10
1,9206,2773,9.900000e-01,0.99,1.0,0.05
2,3924,9123,1.980000e+00,0.99,2.0,0.10
3,3252,3933,1.980000e+00,0.99,2.0,0.10
4,10050,3623,1.980000e+00,1.98,2.0,0.10
...,...,...,...,...,...,...
11267,3960,3545,4.223108e+06,545778.28,135838.0,249587.83
11268,3960,4261,4.475973e+06,420050.01,200412.0,368242.80
11269,17035,8068,4.538121e+06,461140.15,187140.0,343854.07
11270,4425,3405,4.819073e+06,561512.37,160247.0,294438.66
11271,1128,1233,5.101920e+06,672819.31,142049.0,260999.20

In [18]:
import time

start = time.time()

vendor_sales_summary = pd.read_sql_query("""
    SELECT 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        p.Volume,
        p.ActualPrice,
        COALESCE(p.TotalPurchaseQuantity, 0) AS TotalPurchaseQuantity,
        COALESCE(p.TotalPurchaseDollars, 0) AS TotalPurchaseDollars,
        COALESCE(s.TotalSalesDollars, 0) AS TotalSalesDollars,
        COALESCE(s.TotalSalesPrice, 0) AS TotalSalesPrice,
        COALESCE(s.TotalSalesQuantity, 0) AS TotalSalesQuantity,
        COALESCE(s.TotalExciseTax, 0) AS TotalExciseTax,
        COALESCE(f.FreightCost, 0) AS FreightCost
    FROM 
        (
            SELECT 
                p.VendorNumber,
                p.VendorName,
                p.Brand,
                pp.Description,
                p.PurchasePrice,
                pp.Volume,
                pp.Price AS ActualPrice,
                SUM(p.Quantity) AS TotalPurchaseQuantity,
                SUM(p.Dollars) AS TotalPurchaseDollars
            FROM 
                purchases p
            JOIN 
                purchase_prices pp ON p.Brand = pp.Brand
            WHERE 
                p.PurchasePrice > 0
                AND p.VendorNumber IS NOT NULL AND p.Brand IS NOT NULL
            GROUP BY 
                p.VendorNumber, p.VendorName, p.Brand, pp.Description, 
                p.PurchasePrice, pp.Volume, pp.Price
        ) p
    LEFT JOIN 
        (
            SELECT 
                VendorNo,
                Brand,
                SUM(SalesDollars) AS TotalSalesDollars,  
                SUM(SalesPrice) AS TotalSalesPrice,
                SUM(SalesQuantity) AS TotalSalesQuantity,
                SUM(ExciseTax) AS TotalExciseTax
            FROM sales
            WHERE VendorNo IS NOT NULL AND Brand IS NOT NULL
            GROUP BY VendorNo, Brand
        ) s ON p.VendorNumber = s.VendorNo AND p.Brand = s.Brand
    LEFT JOIN 
        (
            SELECT 
                VendorNumber,
                SUM(Freight) AS FreightCost
            FROM vendor_invoice
            WHERE VendorNumber IS NOT NULL
            GROUP BY VendorNumber
        ) f ON p.VendorNumber = f.VendorNumber
""", con=engine)

end = time.time()
print(f"Query executed in {end - start:.2f} seconds.")

Query executed in 53.30 seconds.

In [19]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,FreightCost
0,105,ALTAMAR BRANDS LLC,8412,Tequila Ocho Plata Fresno,35.71,750,49.99,320.0,11427.20,15346.93,12947.41,307.0,242.15,62.39
1,4466,AMERICAN VINTAGE BEVERAGE,5255,TGI Fridays Ultimte Mudslide,9.35,1750,12.99,6215.0,58110.25,79187.04,51180.60,6096.0,11204.28,793.91
2,4466,AMERICAN VINTAGE BEVERAGE,5215,TGI Fridays Long Island Iced,9.41,1750,12.99,4923.0,46325.43,60416.49,41542.02,4651.0,8548.96,793.91
3,480,BACARDI USA INC,3348,Bombay Sapphire Gin,22.38,1750,29.99,57349.0,1283470.62,1766391.12,460087.95,56888.0,104524.54,89286.27
4,480,BACARDI USA INC,8358,Bacardi 151 Proof,14.49,750,19.99,7071.0,102458.79,161219.35,87396.28,8065.0,6352.66,89286.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,4425,MARTIGNETTI COMPANIES,28007,Priest Ranch Sauvignon Blanc,12.41,750,18.99,120.0,1489.20,0.00,0.00,0.0,0.00,144929.24
10688,7153,PINE STATE TRADING CO,26508,Ch Maycott Red,6.81,750,10.49,1.0,6.81,10.49,10.49,1.0,0.11,15884.82
10689,8004,SAZERAC CO INC,2936,Abraham Bowman Ltd Edition,53.02,750,69.99,18.0,954.36,279.96,69.99,4.0,3.15,50293.62
10690,2000,SOUTHERN WINE & SPIRITS NE,26266,The Divining Rod Pinot Noir,11.56,750,16.99,132.0,1525.92,33.98,16.99,2.0,0.22,19016.59
10691,9165,ULTRA BEVERAGE COMPANY LLP,1073,Straw Boys Poitin,25.73,750,34.99,168.0,4322.64,0.00,0.00,0.0,0.00,68054.70

In [20]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
Volume                    object
ActualPrice              float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalSalesQuantity       float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [21]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
Volume                   0
ActualPrice              0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesDollars        0
TotalSalesPrice          0
TotalSalesQuantity       0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [22]:
vendor_sales_summary['VendorName'].unique()

array(['ALTAMAR BRANDS LLC         ', 'AMERICAN VINTAGE BEVERAGE  ',
       'BACARDI USA INC            ', 'BANFI PRODUCTS CORP        ',
       'BLACK PRINCE DISTILLERY INC', 'BROWN-FORMAN CORP          ',
       'BULLY BOY DISTILLERS       ', 'CAMPARI AMERICA            ',
       'CANDIA VINEYARDS           ', 'CASTLE BRANDS CORP.        ',
       'CHARLES JACQUIN ET CIE INC ', 'CONSTELLATION BRANDS INC   ',
       'CRUSH WINES                ', 'DELICATO VINEYARDS INC     ',
       'DIAGEO CHATEAU ESTATE WINES', 'DIAGEO NORTH AMERICA INC   ',
       'DISARONNO INTERNATIONAL LLC', 'DJINN SPIRITS LLC          ',
       'DUGGANS DISTILLED PRODUCTS ', 'E & J GALLO WINERY         ',
       'EDRINGTON AMERICAS         ', 'FABRIZIA SPIRITS LLC       ',
       'FLAG HILL WINERY & VINEYARD', 'FREDERICK WILDMAN & SONS   ',
       'HEAVEN HILL DISTILLERIES   ', 'JEWELL TOWNE VINEYARDS     ',
       'JIM BEAM BRANDS COMPANY    ', 'KLIN SPIRITS LLC           ',
       'KOBRAND CORPORATION        ', 'LABELLE VYDS AND WINERY    ',
       'LAIRD & CO                 ', 'LATITUDE BEVERAGE COMPANY  ',
       'LUXCO INC                  ', 'M S WALKER INC             ',
       'MAJESTIC FINE WINES        ', 'MARSALLE COMPANY           ',
       'MARTIGNETTI COMPANIES ', 'MARTIGNETTI COMPANIES',
       'MCCORMICK DISTILLING CO    ', 'MHW LTD                    ',
       'MOET HENNESSY USA INC      ', 'MOONLIGHT MEADERY          ',
       'NICHE W & S                ', 'OLE SMOKY DISTILLERY LLC   ',
       'PALM BAY INTERNATIONAL INC ', 'PERFECTA WINES             ',
       'PERNOD RICARD USA          ', 'PHILLIPS PRODUCTS CO.      ',
       'PINE STATE TRADING CO      ', 'POVERTY LANE ORCHARDS      ',
       'PREMIER DISTRIBUTORS       ', 'PROXIMO SPIRITS INC.       ',
       'PSP WINES ', 'REMY COINTREAU USA INC     ',
       'Russian Standard Vodka     ', 'SAZERAC CO INC             ',
       'SAZERAC NORTH AMERICA INC. ', 'Serralles Usa LLC          ',
       'SHAW ROSS INT L IMP LTD    ', 'SIDNEY FRANK IMPORTING CO  ',
       'SOUTHERN WINE & SPIRITS NE ', 'STAR INDUSTRIES INC.       ',
       'STATE WINE & SPIRITS   ', 'STE MICHELLE WINE ESTATES  ',
       'STOLI GROUP,(USA) LLC      ', 'SURVILLE ENTERPRISES CORP  ',
       'SWEET BABY VINEYARD        ', 'TAKARA SAKE USA INC        ',
       'TREASURY WINE ESTATES      ', 'TRINCHERO FAMILY ESTATES   ',
       'ULTRA BEVERAGE COMPANY LLP ', 'VINEDREA WINES LLC         ',
       'VINEXTRA INC               ', 'VINEYARD BRANDS INC        ',
       'VINILANDIA USA             ', 'VRANKEN AMERICA            ',
       'WESTERN SPIRITS BEVERAGE CO', 'WILLIAM GRANT & SONS INC   ',
       'WINE GROUP INC             ', 'ZORVINO VINEYARDS          ',
       'HAUNTING WHISPER VYDS      ', 'PREMIUM PORT WINES, INC.   ',
       'SEA BREEZE CELLARS LLC     ', 'SEA HAGG DISTILLERY LLC    ',
       'SMOKY QUARTZ DISTILLERY LLC', 'STELLAR IMPORTING CO LLC   ',
       'THE PIERPONT GROUP LLC     ', 'TY KU LLC                  ',
       'R.P.IMPORTS INC            ', 'PARK STREET IMPORTS LLC    ',
       'CALEDONIA SPIRITS INC      ', 'CENTEUR IMPORTS LLC        ',
       'FORTUNE WINE BROKERS LLC   ', 'HOOD RIVER DISTILLERS, Inc.',
       'INCREDIBREW INC            ', 'WEIN BAUER INC             ',
       'APPOLO VINEYARDS LLC       ', 'BRONCO WINE COMPANY        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'ATLANTIC IMPORTING COMPANY ', 'Dunn Wine Brokers          ',
       'ALISA CARR BEVERAGES           ', 'Circa Wines                ',
       'MANGO BOTTLING INC         ', 'MILTONS DISTRIBUTING CO    ',
       'SWEETWATER FARM         ', 'HIGHLAND WINE MERCHANTS LLC',
       'FANTASY FINE WINES CORP    ', 'TRUETT HURST               ',
       'SOUTHERN GLAZERS W&S OF NE ', 'LOYAL DOG WINERY           ',
       'AAPER ALCOHOL & CHEMICAL CO', 'TALL SHIP DISTILLERY LLC   ',
       'TAMWORTH DISTILLING        ', 'AMERICAN SPIRITS EXCHANGE  ',
       'FULCHINO VINEYARD INC      ', 'CAPSTONE INTERNATIONAL     ',
       'UNCORKED       ', 'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'SILVER MOUNTAIN CIDERS     ', 'ADAMBA IMPORTS INTL INC    ',
       'GILMANTON WINERY & VINEYARD', 'FLAVOR ESSENCE INC         ',
       'BLACK COVE BEVERAGES       ', 'VINEYARD BRANDS LLC        ',
       'BLACK ROCK SPIRITS LLC     ', 'STARK BREWING COMPANY      ',
       'LAUREATE IMPORTS CO        '], dtype=object)

In [23]:
vendor_sales_summary['Description'].unique()

array(['Tequila Ocho Plata Fresno', 'TGI Fridays Ultimte Mudslide',
       'TGI Fridays Long Island Iced', ..., 'Abraham Bowman Ltd Edition',
       'The Divining Rod Pinot Noir', 'Straw Boys Poitin'], dtype=object)

In [24]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [25]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [26]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [27]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars'])*100

In [28]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [29]:
vendor_sales_summary['SalesPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [70]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql



username = "root"
password = "Sahil%402003"  
host = "localhost"
port = 3306
database = "inventory"

# Step 2: Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Optional: View engine connection confirmation
try:
    with engine.connect() as conn:
        print("✅ Connected to MySQL database successfully!")
except Exception as e:
    print("❌ Failed to connect to MySQL:")
    print(e)

✅ Connected to MySQL database successfully!

In [71]:
cursor.execute("""CREATE TABLE IF NOT EXISTS vendor_sales_summary (
    VendorNumber           INT UNSIGNED NOT NULL,
    VendorName             VARCHAR(100) DEFAULT '',
    Brand                  VARCHAR(100) NOT NULL,
    Description            TEXT,
    PurchasePrice          DECIMAL(10, 2) DEFAULT 0.00,
    ActualPrice            DECIMAL(10, 2) DEFAULT 0.00,
    Volume                 DECIMAL(10, 2) DEFAULT 0.00,
    TotalPurchaseQuantity  INT DEFAULT 0,
    TotalPurchaseDollars   DECIMAL(15, 2) DEFAULT 0.00,
    TotalSalesQuantity     INT DEFAULT 0,
    TotalSalesDollars      DECIMAL(15, 2) DEFAULT 0.00,
    TotalSalesPrice        DECIMAL(10, 2) DEFAULT 0.00,
    TotalExciseTax         DECIMAL(10, 2) DEFAULT 0.00,
    FreightCost            DECIMAL(10, 2) DEFAULT 0.00,
    GrossProfit            DECIMAL(15, 2) DEFAULT 0.00,
    ProfitMargin           DECIMAL(5, 2) DEFAULT 0.00,
    StockTurnover          DECIMAL(5, 2) DEFAULT 0.00,
    SalesPurchaseRatio     DECIMAL(5, 2) DEFAULT 0.00,
    PRIMARY KEY (VendorNumber, Brand),
    INDEX idx_brand (Brand),
    INDEX idx_vendorname (VendorName)
);""")

0

In [72]:
print(df.shape)
print(df.head(3))

(0, 18)
Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesPurchaseRatio]
Index: []

In [75]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql



username = "root"
password = "Sahil%402003"  
host = "localhost"
port = 3306
database = "inventory"

# Step 2: Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)


try:
    with engine.connect() as conn:
        print("✅ Connected to MySQL database successfully!")
except Exception as e:
    print("❌ Failed to connect to MySQL:")
    print(e)

✅ Connected to MySQL database successfully!

In [76]:
import numpy as np

# 🛠 Clean the DataFrame before insertion
vendor_sales_summary.replace([np.inf, -np.inf], np.nan, inplace=True)
vendor_sales_summary.fillna(0, inplace=True)  # or dropna() if you prefer

# 📤 Now safely insert into MySQL
vendor_sales_summary.to_sql(
    name='vendor_sales_summary',
    con=engine,
    if_exists='replace',
    index=False,
    method='multi'
)

10692

In [81]:
df = pd.read_sql_table("vendor_sales_summary", con=engine)
# Preview the data
print(df.head())
# Preview the data
print(df.shape)

   VendorNumber                 VendorName  Brand  \
0           105         ALTAMAR BRANDS LLC   8412
1          4466  AMERICAN VINTAGE BEVERAGE   5255
2          4466  AMERICAN VINTAGE BEVERAGE   5215
3           480            BACARDI USA INC   3348
4           480            BACARDI USA INC   8358

                    Description  PurchasePrice  Volume  ActualPrice  \
0     Tequila Ocho Plata Fresno          35.71   750.0        49.99
1  TGI Fridays Ultimte Mudslide           9.35  1750.0        12.99
2  TGI Fridays Long Island Iced           9.41  1750.0        12.99
3           Bombay Sapphire Gin          22.38  1750.0        29.99
4             Bacardi 151 Proof          14.49   750.0        19.99

   TotalPurchaseQuantity  TotalPurchaseDollars  TotalSalesDollars  \
0                  320.0              11427.20           15346.93
1                 6215.0              58110.25           79187.04
2                 4923.0              46325.43           60416.49
3                57349.0            1283470.62         1766391.12
4                 7071.0             102458.79          161219.35

   TotalSalesPrice  TotalSalesQuantity  TotalExciseTax  FreightCost  \
0         12947.41               307.0          242.15        62.39
1         51180.60              6096.0        11204.28       793.91
2         41542.02              4651.0         8548.96       793.91
3        460087.95             56888.0       104524.54     89286.27
4         87396.28              8065.0         6352.66     89286.27

   GrossProfit  ProfitMargin  StockTurnover  SalesPurchaseRatio
0      3919.73     25.540808       0.959375            1.343018
1     21076.79     26.616464       0.980853            1.362703
2     14091.06     23.323202       0.944749            1.304175
3    482920.50     27.339387       0.991961            1.376261
4     58760.56     36.447585       1.140574            1.573504
(10692, 18)

In [9]:
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine
import logging
import time
from ingestion_db import ingest_db

# Setup logging
logging.basicConfig(
    filename="logging/get_vendor_summary.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

# DB Credentials
DB_CONFIG = {
    "username": "root",
    "password": "Sahil%402003",  # Tip: use env vars in production
    "host": "localhost",
    "port": 3306,
    "database": "inventory"
}

def get_engine():
    return create_engine(
        f"mysql+pymysql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@"
        f"{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}"
    )

def create_vendor_summary(engine):
    start = time.time()
    query = """
        SELECT 
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            p.Volume,
            p.ActualPrice,
            COALESCE(p.TotalPurchaseQuantity, 0) AS TotalPurchaseQuantity,
            COALESCE(p.TotalPurchaseDollars, 0) AS TotalPurchaseDollars,
            COALESCE(s.TotalSalesDollars, 0) AS TotalSalesDollars,
            COALESCE(s.TotalSalesPrice, 0) AS TotalSalesPrice,
            COALESCE(s.TotalSalesQuantity, 0) AS TotalSalesQuantity,
            COALESCE(s.TotalExciseTax, 0) AS TotalExciseTax,
            COALESCE(f.FreightCost, 0) AS FreightCost
        FROM 
            (
                SELECT 
                    p.VendorNumber,
                    p.VendorName,
                    p.Brand,
                    pp.Description,
                    p.PurchasePrice,
                    pp.Volume,
                    pp.Price AS ActualPrice,
                    SUM(p.Quantity) AS TotalPurchaseQuantity,
                    SUM(p.Dollars) AS TotalPurchaseDollars
                FROM purchases p
                JOIN purchase_prices pp ON p.Brand = pp.Brand
                WHERE p.PurchasePrice > 0 AND p.VendorNumber IS NOT NULL AND p.Brand IS NOT NULL
                GROUP BY p.VendorNumber, p.VendorName, p.Brand, pp.Description, p.PurchasePrice, pp.Volume, pp.Price
            ) p
        LEFT JOIN (
            SELECT 
                VendorNo,
                Brand,
                SUM(SalesDollars) AS TotalSalesDollars,  
                SUM(SalesPrice) AS TotalSalesPrice,
                SUM(SalesQuantity) AS TotalSalesQuantity,
                SUM(ExciseTax) AS TotalExciseTax
            FROM sales
            WHERE VendorNo IS NOT NULL AND Brand IS NOT NULL
            GROUP BY VendorNo, Brand
        ) s ON p.VendorNumber = s.VendorNo AND p.Brand = s.Brand
        LEFT JOIN (
            SELECT 
                VendorNumber,
                SUM(Freight) AS FreightCost
            FROM vendor_invoice
            WHERE VendorNumber IS NOT NULL
            GROUP BY VendorNumber
        ) f ON p.VendorNumber = f.VendorNumber
    """
    df = pd.read_sql_query(query, con=engine)
    end = time.time()
    logging.info(f"Vendor summary query executed in {end - start:.2f} seconds.")
    return df

def clean_data(df):
    df['Volume'] = df['Volume'].astype(float)
    df.fillna(0, inplace=True)
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()
    df['GrossProfit'] = df['TotalSalesDollars'] - df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars'].replace(0, pd.NA)) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity'].replace(0, pd.NA)
    df['SalesPurchaseRatio'] = df['TotalSalesDollars'] / df['TotalPurchaseDollars'].replace(0, pd.NA)
    df.fillna(0, inplace=True)
    return df

if __name__ == '__main__':
    try:
        engine = get_engine()
        logging.info("Creating vendor summary table...")
        summary_df = create_vendor_summary(engine)

        logging.info("Cleaning data...")
        clean_df = clean_data(summary_df)

        print(clean_df.head())  # Display in terminal
        logging.info(f"Preview of cleaned data:\n{clean_df.head()}")

        logging.info("Ingesting data into MySQL...")
        ingest_db(clean_df, 'vendor_sales_summary', engine)

        logging.info("Vendor sales summary ingestion completed successfully.")

    except Exception as e:
        logging.error(f"Error occurred: {e}")

   VendorNumber                 VendorName  Brand  \
0           105         ALTAMAR BRANDS LLC   8412
1          4466  AMERICAN VINTAGE BEVERAGE   5255
2          4466  AMERICAN VINTAGE BEVERAGE   5215
3           480            BACARDI USA INC   3348
4           480            BACARDI USA INC   8358

                    Description  PurchasePrice  Volume  ActualPrice  \
0     Tequila Ocho Plata Fresno          35.71   750.0        49.99
1  TGI Fridays Ultimte Mudslide           9.35  1750.0        12.99
2  TGI Fridays Long Island Iced           9.41  1750.0        12.99
3           Bombay Sapphire Gin          22.38  1750.0        29.99
4             Bacardi 151 Proof          14.49   750.0        19.99

   TotalPurchaseQuantity  TotalPurchaseDollars  TotalSalesDollars  \
0                  320.0              11427.20           15346.93
1                 6215.0              58110.25           79187.04
2                 4923.0              46325.43           60416.49
3                57349.0            1283470.62         1766391.12
4                 7071.0             102458.79          161219.35

   TotalSalesPrice  TotalSalesQuantity  TotalExciseTax  FreightCost  \
0         12947.41               307.0          242.15        62.39
1         51180.60              6096.0        11204.28       793.91
2         41542.02              4651.0         8548.96       793.91
3        460087.95             56888.0       104524.54     89286.27
4         87396.28              8065.0         6352.66     89286.27

   GrossProfit  ProfitMargin  StockTurnover  SalesPurchaseRatio
0      3919.73     25.540808       0.959375            1.343018
1     21076.79     26.616464       0.980853            1.362703
2     14091.06     23.323202       0.944749            1.304175
3    482920.50     27.339387       0.991961            1.376261
4     58760.56     36.447585       1.140574            1.573504